body {
  margin: 0px;
  height: 0px;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  /* border: 1px solid tomato; */
  width: 277px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #716dff, #a47dff);
  padding-left: 41px;
  padding-top: 140px;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  text-decoration: none;
  font-family: ProximaNova;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid tomato;
  height: 80px;
  background-color: var(--white);
}

.profile-pic {
  width: 40px;
  height: 40px;
}

.delivery h1 {
  margin-left: 40px;
}

.boxes {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.card1,
.card2,
.card3,
.card4 {
  width: 210px;
  height: 165px;
  border-radius: 8px;
  background-image: linear-gradient(299deg, #736dff, #a97fff);
}

.card2 {
  box-shadow: 0 2px 5px 0 rgba(83, 97, 255, 0.05);
  background-image: linear-gradient(299deg, #f7c598, #ff8886);
}

.card3 {
  box-shadow: 0 2px 5px 0 rgba(83, 97, 255, 0.05);
  background-image: linear-gradient(123deg, #f9b4bd, #9573db);
}

.card4 {
  box-shadow: 0 2px 5px 0 rgba(83, 97, 255, 0.05);
  background-image: linear-gradient(122deg, #44dec5, #4ebcfa);
}

.chart {
  width: 967px;
  height: 211px;
  margin: 50px auto;
}

.content {
  border: 1px solid mediumaquamarine;
  width: 80%;
}

.dashboard,
.settings,
.users,
.delivery,
.onesignal,
.prompting,
.nappearance,
.mpersonalization,
.playerid,
.nbehavior {
  border: 1px solid mediumaquamarine;
  width: 80%;
}
