body {
  margin: 0px;
  height: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.sidebar {
  border: 1px solid tomato;
  width: 20%;
}

.content {
  border: 1px solid mediumaquamarine;
  width: 80%;
}
